body {
	height: 100%;
	margin: 0;
	text-align: center;
	width: 100%;
}

h1 {
  font-family: Palatino, 'Courier New', serif;
	color: #dabece;
	font-size: 32px;
}

h2 {
	font-size: 32px;
}

.hero {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
	background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-2/bg.jpg");
}

.hero {
	padding: 250px 0;
	margin: 30px;
}


p {

}

.hero a {
	color: #00FFAA;
	font-size: 24px;
	text-decoration: none;
}



p {
  color: red;
}

h3 {
  color: blue;
}
